$catapult-yellow: #ffca37;
$catapult-pink: #fc346a;

$catapult-bg-dark: #181e22;
$catapult-bg-dark2: #111518;

$catapult-text-dark: #3e464c;
$catapult-text-grey: #929292;

$catapult-nav-active: $catapult-yellow;
$catapult-sidebar-bg: $catapult-bg-dark;

$page-bg-color: #f2f2f2;
$sidebar-width-thin: 100px;
$sidebar-width-wide: 225px;
